<h1>Welcome to Unilearn Marketplace!</h1>
<p>Hello {{ name }},</p>
<p>You have successfully registered as a freelancer on our platform. You can now start posting your services and earning money!</p>
<p><a href="{{ url('app_marketplace_dashboard') }}">Go to your Dashboard</a></p>
<p>Best regards,<br>The Unilearn Team</p>
