{{ encore_entry_link_tags('autocomplete') }}
{{ encore_entry_script_tags('autocomplete') }}

<div class="search-autocomplete-container">
    <div class="input-group">
        <input 
            class="form-control pe-5 form-control-sm" 
            type="search" 
            name="search" 
            placeholder="Search courses..." 
            aria-label="Search courses"
            autocomplete="off"
            style="width: 200px;"
        >
        <button class="btn btn-outline-secondary btn-sm" type="button">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>
